@import url(base.css);


body {
    background-image: url(/assets/img/Patas.png),
    url(/assets/img/Forma\ 1.svg),
    url(/assets/img/Forma3-invertida.svg) ;

    background-repeat: no-repeat;
    background-size: 123px,352.11px, 82.73px;
    background-position: top  right  , top  left , left  bottom 156px ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cor__fundo {
    background-color: var(--cor-cinza-claro-fundos);
}


/* INICIO CSS MAIN */
.conteudo__principal {   
    text-align: center;
    width: 90%;
    padding-top: 4.5em;
    margin: 0 5% ;
    flex: 1;  
}

.paragrafo__pergunta {
    padding: 0.5em;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--cor-azul);
}

.paragrafo__principal{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--cor-azul);
}


/* CSS FORMULARIO */
.formulario {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.5em;
    font-family: var(--fonte-secundaria);
    color: var(--cor-cinza);
}

.inputs {
    text-align: center;
    width: 20rem;
    margin:  0 0 25px;
    padding: 12px 25px;
    font-family: var(--fonte-secundaria);
    background-color: var(--cor-cinza-claro-fundos);
    color: var( --cor-cinza-claro);
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 16px;
    border-radius: 6px;
    border: none;
}


/* CSS FORMULARIO */

.botao-cadastro {
    display: block;
    background-color: var(--cor-coral);
    color: var(--cor-branco);
    font-family: var(--fonte-secundaria);
    padding: 0.5em;
    margin: 0 auto 1em ;
    width: 10em;
    font-size: 16px;
    border-radius: 6px;
    text-decoration: none;
}



@media screen and (min-width: 768px) {
    
    body {
        background-image: url(/assets/img/Patas.png),
                          url(/assets/img/Forma\ 1.svg),
                          url(/assets/img/Forma\ 2.svg) ;
        background-size: 222px, 540px,  104px; 
        background-repeat: no-repeat;
        background-position: top  right  , top  left , center right ;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    

    .cabecalho {
        margin-top: 1.5em;
    }

    .container_imagem {
        padding-left: 3em;
        margin-right: -30px;
        margin-bottom: 6px;
     }
 
     .logoadopet-header {
         display: inline-block;
         width: 128px;
         height: 30.86px;
     }
 

    .conteudo__principal {   
        width: 60%;
        padding-top: 9em;
        margin: 0 auto ;
    
    }

    .logoadopet {
        width: 251.59px;
    }

    .paragrafo__pergunta {
        padding-top: 2em;
        margin-bottom: -5px;
    }

    .formulario {
        padding: 2em;
    }
    
    .inputs {
        width: 35rem; 
    }
    
    .botao-cadastro {
        width: 12em; 
    }
    
}