@import url(base.css);

body {
    background-image: url(/assets/img/Patas.png),url(/./assets/img/Forma\ 1.svg), url(/assets/img/Forma3-invertida.svg) ;

    background-repeat: no-repeat;
    background-position: top  right  , top  left , left  bottom 156px ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cor__fundo {
    background-color: var(--cor-cinza-claro-fundos);
}


/* INICIO CSS MAIN */
.conteudo__principal {   
    text-align: center;
    width: 70%;
    padding-top: 1.5em;
    margin: 0 auto ;
    flex: 1;  
}

.paragrafo__pergunta {
    padding-bottom: 1em;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--cor-azul);
}

.paragrafo__cadastro{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--cor-azul);
}


/* CSS FORMULARIO */
.formulario {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1em;
    font-family: var(--fonte-secundaria);
    color: var(--cor-cinza);
}

.inputs {
    text-align: center;
    width: 22rem;
    margin:  0 0 25px;
    padding: 12px 25px;
    font-family: var(--fonte-secundaria);
    color: var( --cor-cinza-claro);
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 16px;
    border-radius: 6px;
    border: none;
}


/* CSS FORMULARIO */

.botao-cadastro {
    display: block;
    background-color: var(--cor-coral);
    color: var(--cor-branco);
    font-family: var(--fonte-secundaria);
    padding: 0.5em;
    margin: 0 auto 1em ;
    width: 10em;
    font-size: 16px;
    border-radius: 6px;
    text-decoration: none;
}




