@import url(base.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url(/assets/img/Patas.png),url(/./assets/img/Forma\ 1.svg), 
                      url(/assets/img/Forma3-invertida.svg) ;

    background-repeat: no-repeat;
    background-position: top right , top  left , center left  ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.cor__fundo {
    background-color: var(--cor-branco);
    
}

.paragrafo__pergunta {
    padding-bottom: 1em;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--cor-azul);
}

.paragrafo__cadastro{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--cor-azul);
}





