@import url(base.css);

body {
    background-image: url(/assets/img/Forma\ 1.svg), 
                      url(/assets/img/Forma\ 2.svg), 
                      url(/assets/img/Ilustração\ 1.svg);

    background-repeat: no-repeat;
    background-position: top left, center right , bottom 86px center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
}

.cor__fundo {
    background-color: var(--cor-azul); 
}

.conteudo__principal {   
    text-align: center;
    width: 70%;
    padding-top: 1.5em;
    margin: 0 auto;
    flex: 1;  
}

.conteudo__titulo {
    font-family: var(--fonte-principal);
    font-style: normal;
    padding-top: 10px;
    font-weight: 500;
    font-size: 26px;
    line-height: 48px;
    color: var(--cor-branco);
}

.conteudo__paragrafo {
    font-family: var(--fonte-secundaria);
    margin: 1em 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 1em;
    color: var(--cor-branco);
    
}

.conteudo__ancora {
    display: block;
    background-color: var(--cor-coral);
    color: var(--cor-branco);
    font-family: var(--fonte-secundaria);

    padding: 0.5em;
    margin: 0 auto 1em ;
    width: 12em;
    font-size: 16px;
    border-radius: 6px;
    text-decoration: none;
}




